body {
    background-color: black ;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    position:static;
    top: 20px;
    left: 20px;
    display: flex;
} 

.logo {
    width: 70px;
    height: 70px;
    animation: rotateLogo 7s linear infinite;
}
@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.logoName{
    margin-left: 20px;
    padding: auto;
    font-weight: bold;

    text-align: left;
    background-color: white;
    color: black;
} 

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #606060;
    padding: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ff0000;
}

.menu a.active {
    color: #ff0000;
}

/* ------------------------------------------------------------------------------------- */

.login-container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* ---------------------------------------------------------------------------------------- */

.welcome{
    text-align: center;
    display: block;
    margin: 0 auto;
    
}

/* ------------------------------------------------------------------------------------- */

.htext{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.btn{
    text-align: center;
}

#Molarity_Eq{
    text-align: center;
    align-self: auto;
    background-color: black;
    color: white;
    margin: auto;
    width: 700px;
    height: 400px;
    padding: 20px;
}

#Molality_Eq{
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
    width: 700px;
    height: 350px;
    padding: 20px;
}

#Mol_cal{
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
    width: 700px;
    height: 400px;
    padding: 20px;
}

#dilution{
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
    width: 700px;
    height: 250px;
    padding: 20px;
}