*{
    font-family: Arial, sans-serif;
}
body {
    margin: 0%;
    padding: 0%;
    background-color: black;
}

/* --------------------------------------------------------------------- */

.logo-container {
    position:static;
    top: 20px;
    left: 20px;
    display: flex;
} 

.logo {
    width: 70px;
    height: 70px;
    cursor: pointer;
    animation: rotateLogo 7s linear infinite;
}
@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.logoName{
    margin-left: 20px;
    padding: auto;
    font-weight: bold;

    text-align: left;
    background-color: white;
    color: black;
    font-weight: bold;
} 

/* --------------------------------------------------------------------- */

nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
}
nav ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin-inline: 20px;
    color: black;
    font-size: 18px;
    margin-right: 11px;
}
ul li a:hover, ul li .active{
    color: red;
    border-bottom: 2px solid red;
}
ul li .btn{
    padding: 10px 20px;
    background-color: gray;
    color: white;
    font-size: 16px;
}
.icon{
    align-items: center;
    font-size: 30px;
    margin-right: 12px;
    display: none;
}
@media only screen and (max-width:875px) {
    nav ul{
        display: none;
    }
    .icon{
        display: flex;
        cursor: pointer;
    }
    .showData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 80px;
        background-color: lightgrey;
        width: 100%;
        height: 280px;
        text-align: center;
        padding: 0px;
        gap: 22px;
    }
}

/* ---------------------------------------------------------------------------------------- */

.SF{
    height: auto;
    width: 330px;
    position: absolute;
}
@media only screen and (max-width:875px) {
    .SF{
        width: 38%;
    }
    /* #Molarity_Eq{
        font-size: 80%;
    } */
}

/* ------------------------------------------------------------------------------------- */

#Molarity_Eq{
    display: block;
    text-align: center;
    align-self: auto;
    background-color: black;
    color: white;
    margin: auto;
}
#Molarity_Eq .equation {
    align-self: auto;
    font-size: larger;
    display: block;
    width: 300px;
    height: 80px;
    padding: 5px;
    margin: auto;
    color: white;
    font-weight: bolder;
    background-color: gray;
    border-radius: 20px;
    border-style: solid;
}
#Molarity_Eq .discription {
    align-self: auto;
    display: block;
    padding: 5px;
    margin: auto;
    width: 370px;
    color: white;
    background-color: gray;
    border-radius: 20px;
    border-style: solid;
}

#Molarity_Eq .calculate{
    
}

/* ------------------------------------------------------------------------------------------------------ */

#Molality_Eq{
    display: block;
    text-align: center;
    align-self: auto;
    background-color: black;
    color: white;
    margin: auto;
}
#Molality_Eq .equation {
    align-self: auto;
    font-size: larger;
    display: block;
    width: 300px;
    height: 80px;
    padding: 5px;
    margin: auto;
    color: white;
    font-weight: bolder;
    background-color: gray;
    border-radius: 20px;
    border-style: solid;
}
#Molality_Eq .discription {
    align-self: auto;
    display: block;
    padding: 5px;
    margin: auto;
    width: 370px;
    color: white;
    background-color: gray;
    border-radius: 20px;
    border-style: solid;
}

#Mol_cal{
    display: block;
    text-align: center;
    align-self: auto;
    background-color: black;
    color: white;
    margin: auto;
}
#Mol_cal .equation{
    align-self: auto;
    font-size: larger;
    display: block;
    width: 400px;
    height: 80px;
    padding: 5px;
    margin: auto;
    color: white;
    font-weight: bolder;
    background-color: gray;
    border-radius: 20px;
    border-style: solid;
}
#Mol_cal .discription{
    align-self: auto;
    display: block;
    padding: 5px;
    margin: auto;
    width: 370px;
    color: white;
    background-color: gray;
    border-radius: 20px;
    border-style: solid;
}

#dilution{
    display: block;
    text-align: center;
    align-self: auto;
    background-color: black;
    color: white;
    margin: auto;
}
#dilution .equation{
    align-self: auto;
    font-size: larger;
    display: block;
    width: 250px;
    height: 60px;
    padding: 5px;
    margin: auto;
    color: white;
    font-weight: bolder;
    background-color: gray;
    border-radius: 20px;
    border-style: solid;
}
#dilution .discription{
    align-self: auto;
    display: block;
    padding: 5px;
    margin: auto;
    width: 700px;
    color: white;
    background-color: gray;
    border-radius: 20px;
    border-style: solid;
}


/* ------------------------------------------------------------------------------------- */
/* Login */
.login-container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;   
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* ------------------------------------------------------------------------------------- */
/* Calculate */
.calculate {
    width: 500px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
}
input[type="number"],
input[type="Calculate"] {
    width: 100px;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="Calculate"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="Calculate"]:hover {
    background-color: #0056b3;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}