body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: #606060;
    padding: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ff0000;
}

.menu a.active {
    color: #ff0000;
}



.htext{
    text-align: center;
    margin: auto;
    padding: 20px;
}

.btn{
    text-align: center;
}

#Molarity_Eq{
    text-align: center;
    align-self: auto;
    background-color: black;
    color: white;
    margin: auto;
    width: 700px;
    height: 400px;
    padding: 20px;
}

#Molality_Eq{
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
    width: 700px;
    height: 350px;
    padding: 20px;
}

#Mol_cal{
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
    width: 700px;
    height: 400px;
    padding: 20px;
}

#dilution{
    text-align: center;
    background-color: black;
    color: white;
    margin: auto;
    width: 700px;
    height: 250px;
    padding: 20px;
}